const env = {
    appName: '王者后台',

    // 是否开启debug
    debug: true,

    version: 'Version 1.0.0',

    // API 地址
    apiBaseUrl: 'https://api.xxx.com',

    // token存储键名
    tokenKey: 'WANGZHEADMIN-APPID-KEY',

    // 绑定状态
    bindingKey: 'WANGZHEADMIN-PUUID-KEY',

    // 前端存储过期时间 （单位天）
    tokenExpire: 15,
}

export default env
